{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block content %}
    <div class="container">
        <div id="progress-bar">
            <div class="bar"></div>
        </div>
    </div>

    <div class="top-scores">
        <h2>Top Scores</h2>
        <ul class="highscores">
            {% if scores is not empty %}
                {% for score in scores %}
                <li>{{ loop.index }} - {{ score.score|date('H:i:s', '+00:00 GMT') }}</li>
                {% endfor %}
            {% else %}
                Pas de HighScore <br>
                alors vaz-y fonce !
            {% endif %}
        </ul>

        <input id="start-game" type="button" value="Start Game">
    </div>

    <div class="end-game">
        <h2>Fin de partie</h2>
        <p></p>

        <input id="end-game" type="button" value="Restart Game">
    </div>

{% endblock %}
