{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block content %}
    <div class="container">
        <div id="progress-bar">
            <div class="bar"></div>
        </div>
    </div>

    <div class="top-scores">
        <h2>Top Scores</h2>
        <ul class="highscores">
            <li>1 - 1000</li>
            <li>2 - 2000</li>
            <li>3 - 3000</li>
            <li>4 - 4000</li>
            <li>5 - 5000</li>
        </ul>

        <input id="start-game" type="button" value="Start Game">
    </div>

{% endblock %}
