{% extends 'base.html.twig' %}

{% block title %}Hello GameController!{% endblock %}

{% block content %}
    <div class="container">
        <div id="progressBar">
            <div class="bar"></div>
        </div>
    </div>


{% endblock %}
